body {
  margin: 0px;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-color: $light-white;
  position: absolute;
}
.content-wrapper-w {
  display: flex;
  align-items: center;
  height: 100vh;

  .content-wrapper {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(mobile) {
      height: 40%;
      box-shadow: none;
    };

    .content-text {
      position: absolute;
      color: $grey;
      width: 100%;
      font-family: $title-font;
      display: flex;

      @include breakpoint(mobile) {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        color: $grey;
      }

      .c-text1 {
        width: 50%;
        padding-right: 10px;

        @include breakpoint(mobile) {
          width: 100%;
          font-weight: bold;
        };

        .c-text1-1 {
          font-size: 77px;
          text-align: right;
          font-weight: 700;
          color: $red;

          @include breakpoint(mobile) {
            text-align: left;
            padding: 0;
          };
        }

        .c-text1-2 {
          font-size: 27px;
          text-align: right;
          font-weight: 300;
          padding-left: 30px;
          font-family: $main-font;
          @include breakpoint(mobile) {
            text-align: left;
            padding: 0;
          };
        }
      }

      .c-text2-wrapper {
        width: 50%;
        padding-right: 100px;
        padding-top: 30px;
        padding-left: 10px;
        @include breakpoint(mobile) {
          width: 100%;
          padding: 0;
        };

        .c-text2 {
          margin-bottom: 70px;
          @include breakpoint(mobile) {
            margin-bottom: 50px;
          };
        }

        a {
          border: 1px solid $red;
          border-radius: 20px;
          padding-right: 26px;
          padding-left: 20px;
          padding-top: 8px;
          padding-bottom: 8px;
          text-decoration: none;
          color: $grey;
          font-family: $main-font;
          transition-duration: 0.5s;

            img {
              width: 18px;
              height: 18px;
              margin-right: 10px;
            }
          }
          a:hover {
            background-color: $red;
            color: $light-white;
            padding-right: 47px;
        }
      }
    }
  }
}
