#menu {
  width: 100vw;
  display: none;
  height: 100vh;
  position: fixed;
  z-index: 9000;
  font-size: 38px;
  font-weight: bold;
  font-family: $main-font;
  letter-spacing: 0px;
  color: $grey;
  justify-content: center;
  background-color: $light-white;

  .menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 200px;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: $grey;
    transition-duration: 0.3s;
    display: block;
  }

  a:hover {
    color: $red;
    opacity: 0.9;
  }
}
