//colors
$light-white: #F2f2f2;
$grey: #3a3a3a;
$light-grey: #e2e2e2;
$red: #db2b37;
$light-blue: #1CB5E0;
$dark-blue: #9b9999;
$dark-grey: #161616;

//fonts
$main-font: 'Inconsolata', sans-serif;
$title-font: 'Titillium Web', sans-serif;

//breakpoints
$breakpoint-phone: 700px;
